@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--font-family: "Inter", "Helvetica Neue", sans-serif;
	--background-color: #ffffff;
	--text-color: #222222;
	--simply-white: #ffffff;
	--simply-grey: #f8f9fa;
	--primary-color: #007bff;
	--hover-color: #0056b3;
	--secondary-color: #6c757d;
	--border-color: #ced4da;
	--error-color: #dc3545;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: var(--font-family);
	font-size: 1rem;
	font-weight: 400;
	background-color: var(--background-color);
	color: var(--text-color);
}

h1 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 1rem;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 1.5rem 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

label {
	font-weight: 500;
	font-size: 1.15rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	appearance: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
	padding: 0.5rem;
	border: 1px solid var(--border-color);
	background-color: var(--simply-grey);
	border-radius: 0.25rem;
	width: 100%;
	margin: 0.75rem 0 0 0;
}

input:focus {
	outline: none;
	border-color: var(--primary-color);
}

input:valid {
	border-color: var(--border-color);
}

/* invalid fields */
input:invalid {
	background-color: var(--simply-grey);
}

input:focus:invalid {
	border-color: var(--error-color);
	outline: none;
}

button {
	font-family: inherit;
	font-size: 1.25rem;
	font-weight: 500;
	border: none;
	border-radius: 0.25rem;
	padding: 0.75rem;
	background-color: var(--primary-color);
	color: var(--simply-white);
	cursor: pointer;
	width: 100%;
}

button:hover {
	background-color: var(--hover-color);
}

::placeholder {
	color: var(--secondary-color);
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	max-width: 600px;
	margin: 0 auto;
}

.error {
	color: var(--simply-white);
	background-color: var(--error-color);
	font-size: 1rem;
	font-weight: 500;
	width: 100%;
	border-radius: 0.25rem;
	display: flex;
}

.error.active {
	padding: 0.35rem;
	margin: .75rem 0 0 0;
}
